#Tasks {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  #Tasks td, #Tasks th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #Tasks tr:nth-child(even){background-color: #f2f2f2;}
  
  #Tasks tr:hover {background-color: #ddd;}
  
  #Tasks th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5bc0de;
    color: white;
  }
  
  table, th, td {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
  }
    th, td {
      padding: 5px;
      text-align: center;
      
    }
  
  .img{
      display: block;
      margin: 0 auto;
      width: 200px;
      height: 100px;
  }
  
  .iconimg{
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    cursor: pointer; 
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }