<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<div class="jumbotron text-center">
<span class="jumbotron text-center">
    <h1>Tasks List</h1>
    <div *ngIf="isAdd" class="container">
        <div class="row centered-form">
          <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Edit Task</h3>
              </div>
              <div class="panel-body">
                <form role="form">
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        Id
                        <input type="number" class="form-control input-sm" placeholder="TaskId"
                        readonly
                          #carid>
                    
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        Title
                        <input type="text" class="form-control input-sm" placeholder="taskTitle"
                          #Title>
                        {{errormsg}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        Description
                        <input type="text" class="form-control input-sm"  #Description>
                      
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        ToDoDate
                        <input type="date" class="form-control input-sm" 
                          #date>
                
                      </div>
                    </div>
                  </div>
    
                  <input type="button" value="Save" class="btn btn-info btn-block" 
                  (click)="addTask(Title.value, Description.value, date.value)">
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
    
<div *ngIf="isUpdate" class="container">
    <div class="row centered-form">
      <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Edit Task</h3>
          </div>
          <div class="panel-body">
            <form role="form">
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    Id
                    <input type="number" class="form-control input-sm" placeholder="TaskId" value="{{currentTask.id}}"
                    readonly
                      #carid>
                    
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    Title
                    <input type="text" class="form-control input-sm" placeholder="taskTitle" value="{{currentTask.taskTitle}}"
                      #Title>
                    {{errormsg}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    Description
                    <input type="text" class="form-control input-sm" value="{{currentTask.taskDescription}}" #Description>
                   
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    ToDoDate
                    <input type="date" class="form-control input-sm" value="{{currentTask.toDoDate}}"
                      #date>
                 
                  </div>
                </div>
              </div>

              <input type="button" value="Save" class="btn btn-info btn-block" 
              (click)="UpdateTask(Title.value, Description.value, date.value)">
            </form>
          </div>
        </div>
      </div>
    </div>
</div>


<table id="Tasks" style="width:80%" align="center">
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Date</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr
      *ngFor="let i of arrTasks">
      <td>{{i.id}}</td>
      <td>{{i.taskTitle}}</td>
      <td>{{i.taskDescription}}</td>
      <td>{{i.toDoDate}}</td>
      <td><img class="iconimg" src="assets/edit.png" (click)="getUpdate(i)"></td>
      <td><img class="iconimg" src="assets/delete.png" (click)="getDeleteTask(i)"></td>
    </tr>
  </table>
  <br><br />
  <input type="button" value="Add New Task" class="btn btn-info " (click)="getAdd()">

